@charset "UTF-8";
.card,
.action,
.deck,
.discard {
  height: 200px;
  aspect-ratio: 640/1000;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5019607843);
  border-radius: 5%;
}

.action {
  border-radius: 0;
}

.action.main {
  background-image: url(img/action_Purple_front.jpg);
  background-size: 500% auto;
}
.action.main[data-state="1"] {
  background-image: url(img/action_Purple_back.jpg);
}
.action.main.action_main_1 {
  background-position: 0% 0%;
}
.action.main.action_main_2 {
  background-position: 25% 0%;
}
.action.main.action_main_3 {
  background-position: 50% 0%;
}
.action.main.action_main_4 {
  background-position: 75% 0%;
}
.action.main.action_main_5 {
  background-position: 100% 0%;
}
.action.main.action_main_6 {
  background-position: 0% 100%;
}
.action.main.action_main_7 {
  background-position: 25% 100%;
}
.action.main.action_main_8 {
  background-position: 50% 100%;
}
.action.main.action_main_9 {
  background-position: 75% 100%;
}

.action.special {
  background-image: url(img/action_Neutral_front.jpg);
  background-size: 800% auto;
}
.action.special[data-state="1"] {
  background-image: url(img/action_Neutral_back.jpg);
}
.action.special.action_special_1 {
  background-position: 0% 0;
}
.action.special.action_special_2 {
  background-position: 14.2857142857% 0;
}
.action.special.action_special_3 {
  background-position: 28.5714285714% 0;
}
.action.special.action_special_4 {
  background-position: 42.8571428571% 0;
}
.action.special.action_special_5 {
  background-position: 57.1428571429% 0;
}
.action.special.action_special_6 {
  background-position: 71.4285714286% 0;
}
.action.special.action_special_7 {
  background-position: 85.7142857143% 0;
}
.action.special.action_special_8 {
  background-position: 100% 0;
}

.card.task {
  background-image: url(img/solo_cards.jpg);
  background-size: 1000% auto;
}
.card.task.card_task_1 {
  background-position: 0% 100%;
}
.card.task.card_task_2 {
  background-position: 11.1111111111% 100%;
}
.card.task.card_task_3 {
  background-position: 22.2222222222% 100%;
}
.card.task.card_task_4 {
  background-position: 33.3333333333% 100%;
}
.card.task.card_task_5 {
  background-position: 44.4444444444% 100%;
}
.card.task.card_task_6 {
  background-position: 55.5555555556% 100%;
}
.card.task.card_task_7 {
  background-position: 66.6666666667% 100%;
}
.card.task.card_task_8 {
  background-position: 77.7777777778% 100%;
}
.card.task.card_task_9 {
  background-position: 88.8888888889% 100%;
}
.card.task.card_task_10 {
  background-position: 100% 100%;
}
.card.task[data-state="1"] {
  background-position: 100% 0% !important;
}

.card.goal {
  background-image: url(img/solo_cards.jpg);
  background-size: 1000% auto;
}
.card.goal.card_goal_1 {
  background-position: 0% 0%;
}
.card.goal.card_goal_2 {
  background-position: 11.1111111111% 0%;
}
.card.goal.card_goal_3 {
  background-position: 22.2222222222% 0%;
}
.card.goal.card_goal_4 {
  background-position: 33.3333333333% 0%;
}
.card.goal.card_goal_5 {
  background-position: 44.4444444444% 0%;
}
.card.goal.card_goal_6 {
  background-position: 55.5555555556% 0%;
}
.card.goal.card_goal_7 {
  background-position: 66.6666666667% 0%;
}
.card.goal.card_goal_8 {
  background-position: 77.7777777778% 0%;
}
.card.goal.card_goal_9 {
  background-position: 88.8888888889% 0%;
}
.card.goal.card_goal_10 {
  background-position: 100% 0%;
}

.card.setl {
  background-image: url(img/set_cards.jpg);
  background-size: 1500% auto;
}
.card.setl.card_setl_1_1 {
  background-position: 0% 0%;
}
.card.setl.card_setl_1_2 {
  background-position: 7.1428571429% 0%;
}
.card.setl.card_setl_1_3 {
  background-position: 14.2857142857% 0%;
}
.card.setl.card_setl_1_4 {
  background-position: 21.4285714286% 0%;
}
.card.setl.card_setl_1_5 {
  background-position: 28.5714285714% 0%;
}
.card.setl.card_setl_1_6 {
  background-position: 35.7142857143% 0%;
}
.card.setl.card_setl_1_7 {
  background-position: 42.8571428571% 0%;
}
.card.setl.card_setl_1_8 {
  background-position: 50% 0%;
}
.card.setl.card_setl_1_9 {
  background-position: 57.1428571429% 0%;
}
.card.setl.card_setl_1_10 {
  background-position: 64.2857142857% 0%;
}
.card.setl.card_setl_1_11 {
  background-position: 71.4285714286% 0%;
}
.card.setl.card_setl_1_12 {
  background-position: 78.5714285714% 0%;
}
.card.setl.card_setl_1_13 {
  background-position: 85.7142857143% 0%;
}
.card.setl.card_setl_1_14 {
  background-position: 92.8571428571% 0%;
}
.card.setl.card_setl_1_15 {
  background-position: 100% 0%;
}
.card.setl.card_setl_2_16 {
  background-position: 0% 33.3333333333%;
}
.card.setl.card_setl_2_17 {
  background-position: 7.1428571429% 33.3333333333%;
}
.card.setl.card_setl_2_18 {
  background-position: 14.2857142857% 33.3333333333%;
}
.card.setl.card_setl_2_19 {
  background-position: 21.4285714286% 33.3333333333%;
}
.card.setl.card_setl_2_20 {
  background-position: 28.5714285714% 33.3333333333%;
}
.card.setl.card_setl_2_21 {
  background-position: 35.7142857143% 33.3333333333%;
}
.card.setl.card_setl_2_22 {
  background-position: 42.8571428571% 33.3333333333%;
}
.card.setl.card_setl_2_23 {
  background-position: 50% 33.3333333333%;
}
.card.setl.card_setl_2_24 {
  background-position: 57.1428571429% 33.3333333333%;
}
.card.setl.card_setl_2_25 {
  background-position: 64.2857142857% 33.3333333333%;
}
.card.setl.card_setl_2_26 {
  background-position: 71.4285714286% 33.3333333333%;
}
.card.setl.card_setl_2_27 {
  background-position: 78.5714285714% 33.3333333333%;
}
.card.setl.card_setl_2_28 {
  background-position: 85.7142857143% 33.3333333333%;
}
.card.setl.card_setl_2_29 {
  background-position: 92.8571428571% 33.3333333333%;
}
.card.setl.card_setl_2_30 {
  background-position: 100% 33.3333333333%;
}
.card.setl.card_setl_3_31 {
  background-position: 0% 66.6666666667%;
}
.card.setl.card_setl_3_32 {
  background-position: 7.1428571429% 66.6666666667%;
}
.card.setl.card_setl_3_33 {
  background-position: 14.2857142857% 66.6666666667%;
}
.card.setl.card_setl_3_34 {
  background-position: 21.4285714286% 66.6666666667%;
}
.card.setl.card_setl_3_35 {
  background-position: 28.5714285714% 66.6666666667%;
}
.card.setl.card_setl_3_36 {
  background-position: 35.7142857143% 66.6666666667%;
}
.card.setl.card_setl_3_37 {
  background-position: 42.8571428571% 66.6666666667%;
}
.card.setl.card_setl_3_38 {
  background-position: 50% 66.6666666667%;
}
.card.setl.card_setl_3_39 {
  background-position: 57.1428571429% 66.6666666667%;
}
.card.setl.card_setl_3_40 {
  background-position: 64.2857142857% 66.6666666667%;
}
.card.setl.card_setl_3_41 {
  background-position: 71.4285714286% 66.6666666667%;
}
.card.setl.card_setl_3_42 {
  background-position: 78.5714285714% 66.6666666667%;
}
.card.setl.card_setl_3_43 {
  background-position: 85.7142857143% 66.6666666667%;
}
.card.setl.card_setl_3_44 {
  background-position: 92.8571428571% 66.6666666667%;
}
.card.setl.card_setl_3_45 {
  background-position: 100% 66.6666666667%;
}
.card.setl.card_setl_4_46 {
  background-position: 0% 100%;
}
.card.setl.card_setl_4_47 {
  background-position: 7.1428571429% 100%;
}
.card.setl.card_setl_4_48 {
  background-position: 14.2857142857% 100%;
}
.card.setl.card_setl_4_49 {
  background-position: 21.4285714286% 100%;
}
.card.setl.card_setl_4_50 {
  background-position: 28.5714285714% 100%;
}
.card.setl.card_setl_4_51 {
  background-position: 35.7142857143% 100%;
}
.card.setl.card_setl_4_52 {
  background-position: 42.8571428571% 100%;
}
.card.setl.card_setl_4_53 {
  background-position: 50% 100%;
}
.card.setl.card_setl_4_54 {
  background-position: 57.1428571429% 100%;
}
.card.setl.card_setl_4_55 {
  background-position: 64.2857142857% 100%;
}
.card.setl.card_setl_4_56 {
  background-position: 71.4285714286% 100%;
}
.card.setl.card_setl_4_57 {
  background-position: 78.5714285714% 100%;
}
.card.setl.card_setl_4_58 {
  background-position: 85.7142857143% 100%;
}
.card.setl.card_setl_4_59 {
  background-position: 92.8571428571% 100%;
}
.card.setl.card_setl_4_60 {
  background-position: 100% 100%;
}

.deck.village,
.deck_village,
.discard.village {
  background-image: url(img/nset_cards.jpg);
  background-position: 71.4285714286% 0;
  background-size: 800% auto;
}

.card.roof {
  background-image: url(img/nset_cards.jpg);
  background-position: 42.8571428571% 0;
  background-size: 800% auto;
}

.card.roofi,
.deck.roof,
.deck_roof {
  background-image: url(img/nset_cards.jpg);
  background-position: 28.5714285714% 0;
  background-size: 800% auto;
}

.card.spin,
.deck.spin,
.deck_spin {
  background-image: url(img/nset_cards.jpg);
  background-position: 85.7142857143% 0;
  background-size: 800% auto;
}

.card.util {
  background-image: url(img/nset_cards.jpg);
  background-size: 800% auto;
}

.card.ball {
  background-image: url(img/nset_cards.jpg);
  background-size: 800% auto;
  background-position: 57.1428571429% 0;
}

.deck {
  position: relative;
  color: white;
}
.deck .counter {
  position: absolute;
  bottom: 1%;
  right: 1%;
}
.deck .counter::after {
  content: attr(data-state);
  position: relative;
}

.deck > .card,
.deck > .discard {
  visibility: hidden;
}

.discard > * {
  visibility: hidden;
  position: absolute;
}

.cardset .card[data-state="1"] {
  background-image: url(img/nset_cards.jpg);
  background-position: 71.4285714286% 0 !important;
  background-size: 800% auto;
}

.selection_area {
  position: sticky;
  top: 86px;
  align-self: flex-start;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  z-index: 20;
}
.selection_area > * {
  position: relative;
  display: inline-block;
}

.tasks_area {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.tasks_area > * {
  position: relative;
  display: inline-block;
}

#mainarea {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  z-index: 0;
}
#mainarea > * {
  order: 10;
}
#mainarea > .turnover {
  order: 0;
}
#mainarea > .cardset_1 {
  order: 1;
}
#mainarea > .cardset_2 {
  order: 2;
}
#mainarea > .cardset_3 {
  order: 3;
}
#mainarea > .deck_village {
  order: 4;
}
#mainarea > .discard_village {
  order: 5;
}

.cardset {
  position: relative;
  display: block;
  min-width: 250px;
  padding-left: 20px;
}
.cardset:empty {
  min-width: unset;
}
.cardset > * {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.cardset::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20px;
  content: attr(data-name);
  z-index: 20;
  color: #999;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

#supply {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  z-index: 0;
}
#supply > * {
  order: 10;
}
#supply > .deck_village {
  order: 1;
}
#supply > .discard_village {
  order: 2;
}
#supply > .deck_roof {
  order: 4;
}
#supply > .deck_spin {
  order: 4;
}

.tableau {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5px;
  padding-top: 32px;
}
.tableau > * {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.tableau::after {
  content: attr(data-player-name);
  position: absolute;
  width: 100%;
  height: 32px;
  top: 10px;
  left: 10px;
  color: var(--player-color);
}
.tableau .pboard {
  aspect-ratio: 332/273;
  background-image: url(img/pboard.jpg);
  background-size: cover;
  height: 400px;
}
.tableau .pboard .breakroom {
  position: absolute;
  width: 40%;
  height: 10%;
  top: 13%;
  left: 3%;
}
.tableau .pboard .breakroom > * {
  display: inline-block;
}
.tableau .storage {
  position: absolute;
  width: 95%;
  height: 31%;
  bottom: 17%;
  left: 3%;
  display: grid;
  grid-auto-flow: column;
  /* Defines 10 columns, each with a fixed width of 100px. */
  grid-template-columns: repeat(11, 8.7%);
  /* Defines 3 rows, each with a fixed height of 50px. */
  grid-template-rows: repeat(3, 33%);
  /* Optional: Add a gap between grid items */
  gap: 2px;
}
.tableau .storage > *:nth-child(31) {
  position: absolute;
  bottom: -17%;
  left: 0%;
}
.tableau .storage > *:nth-child(32) {
  position: absolute;
  bottom: -17%;
  left: 4%;
}
.tableau .storage > *:nth-child(33) {
  position: absolute;
  bottom: -17%;
  left: 8%;
}
.tableau .storage > *:nth-child(34) {
  position: absolute;
  bottom: -17%;
  left: 12%;
}
.tableau .storage > *:nth-child(35) {
  position: absolute;
  bottom: -17%;
  left: 16%;
}
.tableau .storage > *:nth-child(36) {
  position: absolute;
  bottom: -17%;
  left: 20%;
}
.tableau .storage > *:nth-child(37) {
  position: absolute;
  bottom: -17%;
  left: 24%;
}
.tableau .storage > *:nth-child(38) {
  position: absolute;
  bottom: -17%;
  left: 28%;
}
.tableau .storage > *:nth-child(39) {
  position: absolute;
  bottom: -17%;
  left: 32%;
}
.tableau .storage > *:nth-child(40) {
  position: absolute;
  bottom: -17%;
  left: 36%;
}
.tableau .storage > *:nth-child(41) {
  position: absolute;
  bottom: -17%;
  left: 40%;
}
.tableau .storage > *:nth-child(42) {
  position: absolute;
  bottom: -17%;
  left: 44%;
}
.tableau .storage > *:nth-child(43) {
  position: absolute;
  bottom: -17%;
  left: 48%;
}
.tableau .storage > *:nth-child(44) {
  position: absolute;
  bottom: -17%;
  left: 52%;
}
.tableau .storage > *:nth-child(45) {
  position: absolute;
  bottom: -17%;
  left: 56%;
}
.tableau .storage > *:nth-child(46) {
  position: absolute;
  bottom: -17%;
  left: 60%;
}
.tableau .storage > *:nth-child(47) {
  position: absolute;
  bottom: -17%;
  left: 64%;
}
.tableau .storage > *:nth-child(48) {
  position: absolute;
  bottom: -17%;
  left: 68%;
}
.tableau .storage > *:nth-child(49) {
  position: absolute;
  bottom: -17%;
  left: 72%;
}
.tableau .storage > *:nth-child(50) {
  position: absolute;
  bottom: -17%;
  left: 76%;
}
.tableau .storage > *:nth-child(51) {
  position: absolute;
  bottom: -17%;
  left: 80%;
}
.tableau .storage > *:nth-child(52) {
  position: absolute;
  bottom: -17%;
  left: 84%;
}
.tableau .storage > *:nth-child(53) {
  position: absolute;
  bottom: -17%;
  left: 88%;
}
.tableau .storage > *:nth-child(54) {
  position: absolute;
  bottom: -17%;
  left: 92%;
}
.tableau .storage > *:nth-child(55) {
  position: absolute;
  bottom: -17%;
  left: 96%;
}
.tableau .storage > *:nth-child(56) {
  position: absolute;
  top: -21%;
  left: 0%;
}
.tableau .storage > *:nth-child(57) {
  position: absolute;
  top: -21%;
  left: 4%;
}
.tableau .storage > *:nth-child(58) {
  position: absolute;
  top: -21%;
  left: 8%;
}
.tableau .storage > *:nth-child(59) {
  position: absolute;
  top: -21%;
  left: 12%;
}
.tableau .storage > *:nth-child(60) {
  position: absolute;
  top: -21%;
  left: 16%;
}
.tableau .storage > *:nth-child(61) {
  position: absolute;
  top: -21%;
  left: 20%;
}
.tableau .storage > *:nth-child(62) {
  position: absolute;
  top: -21%;
  left: 24%;
}
.tableau .storage > *:nth-child(63) {
  position: absolute;
  top: -21%;
  left: 28%;
}
.tableau .storage > *:nth-child(64) {
  position: absolute;
  top: -21%;
  left: 32%;
}
.tableau .storage > *:nth-child(65) {
  position: absolute;
  top: -21%;
  left: 36%;
}
.tableau .storage > *:nth-child(66) {
  position: absolute;
  top: -21%;
  left: 40%;
}
.tableau .storage > *:nth-child(67) {
  position: absolute;
  top: -21%;
  left: 44%;
}
.tableau .storage > *:nth-child(68) {
  position: absolute;
  top: -21%;
  left: 48%;
}
.tableau .storage > *:nth-child(69) {
  position: absolute;
  top: -21%;
  left: 52%;
}
.tableau .storage > *:nth-child(70) {
  position: absolute;
  top: -21%;
  left: 56%;
}
.tableau .storage > *:nth-child(71) {
  position: absolute;
  top: -21%;
  left: 60%;
}
.tableau .storage > *:nth-child(72) {
  position: absolute;
  top: -21%;
  left: 64%;
}
.tableau .storage > *:nth-child(73) {
  position: absolute;
  top: -21%;
  left: 68%;
}
.tableau .storage > *:nth-child(74) {
  position: absolute;
  top: -21%;
  left: 72%;
}
.tableau .storage > *:nth-child(75) {
  position: absolute;
  top: -21%;
  left: 76%;
}
.tableau .storage > *:nth-child(76) {
  position: absolute;
  top: -21%;
  left: 80%;
}
.tableau .storage > *:nth-child(77) {
  position: absolute;
  top: -21%;
  left: 84%;
}
.tableau .storage > *:nth-child(78) {
  position: absolute;
  top: -21%;
  left: 88%;
}
.tableau .storage > *:nth-child(79) {
  position: absolute;
  top: -21%;
  left: 92%;
}
.tableau .storage > *:nth-child(80) {
  position: absolute;
  top: -21%;
  left: 96%;
}
.tableau .village_area > *,
.tableau .pboard_area > * {
  position: relative;
  display: block;
}
.tableau .settlers_area {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.tableau .settlers_area > * {
  position: relative;
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
.tableau .settlers_area > * .card ~ .card {
  position: relative;
  margin-top: -130%;
}
.tableau .settlers_area .card[data-state="1"] {
  position: relative;
  z-index: 1;
}
.tableau .settlers_area .card[data-state="2"] {
  position: relative;
  z-index: 2;
}
.tableau .settlers_area .card[data-state="3"] {
  position: relative;
  z-index: 3;
}
.tableau .settlers_area .card[data-state="4"] {
  position: relative;
  z-index: 4;
}
.tableau .settlers_area .card[data-state="5"] {
  position: relative;
  z-index: 5;
}
.tableau .settlers_area .card[data-state="6"] {
  position: relative;
  z-index: 6;
}
.tableau .settlers_area .card[data-state="7"] {
  position: relative;
  z-index: 7;
}
.tableau .settlers_area .card[data-state="8"] {
  position: relative;
  z-index: 8;
}
.tableau .settlers_area .card[data-state="9"] {
  position: relative;
  z-index: 9;
}
.tableau .settlers_area .card[data-state="10"] {
  position: relative;
  z-index: 10;
}
.tableau .settlers_area .card[data-state="11"] {
  position: relative;
  z-index: 11;
}
.tableau .settlers_area .card[data-state="12"] {
  position: relative;
  z-index: 12;
}
.tableau .cards_area {
  position: relative;
  max-width: 486px;
}
.tableau .cards_area > * {
  position: relative;
  display: inline-block;
}
.tableau .cards_area .card ~ .card {
  margin-left: -19%;
}
.tableau .action_area {
  aspect-ratio: 25/16;
  height: 400px;
}
.tableau .action_area .action {
  position: absolute;
  width: 20%;
  height: 50%;
}
.tableau .action_area .action.active_slot {
  z-index: 2;
}
.tableau .action_area .action.special {
  right: 0;
  bottom: 0;
}
.tableau .action_area .action_main_1 {
  left: 0%;
  top: 0%;
}
.tableau .action_area .action_main_2 {
  left: 20%;
  top: 0%;
}
.tableau .action_area .action_main_3 {
  left: 40%;
  top: 0%;
}
.tableau .action_area .action_main_4 {
  left: 60%;
  top: 0%;
}
.tableau .action_area .action_main_5 {
  left: 80%;
  top: 0%;
}
.tableau .action_area .action_main_6 {
  left: 0%;
  top: 50%;
}
.tableau .action_area .action_main_7 {
  left: 20%;
  top: 50%;
}
.tableau .action_area .action_main_8 {
  left: 40%;
  top: 50%;
}
.tableau .action_area .action_main_9 {
  left: 60%;
  top: 50%;
}

.track_furnish {
  position: absolute;
  left: 5%;
  top: 26%;
  width: 44%;
  height: 20%;
}

.track_furnish .slot_furnish {
  display: inline-block;
  width: 10%;
  aspect-ratio: 1/1;
  margin-left: 3.4%;
  top: 6%;
  position: relative;
}

.track_trade {
  position: absolute;
  left: 50%;
  top: 26%;
  width: 50%;
  height: 20%;
}

.slot_trade {
  display: inline-block;
  width: 8%;
  aspect-ratio: 1/1;
  margin-left: 4.1%;
  top: 13%;
  position: relative;
}

.players_panels {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tracker {
  height: 32px;
  aspect-ratio: 1/1;
}
.log .tracker, #page-title .tracker {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  line-height: 24px;
}

.miniboard,
.restrackers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.miniboard .tracker,
.miniboard .counter,
.restrackers .tracker,
.restrackers .counter {
  color: black;
  text-shadow: #fff -1px -1px, #fff 1px 1px, #fff -1px 1px, #fff 1px -1px;
}
html[data-theme=dark] .miniboard .tracker,
html[data-theme=dark] .miniboard .counter,
html[data-theme=dark] .restrackers .tracker,
html[data-theme=dark] .restrackers .counter {
  color: white;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.267), 1px 1px rgba(0, 0, 0, 0.267), -1px 1px rgba(0, 0, 0, 0.267), 1px -1px rgba(0, 0, 0, 0.267);
}
.miniboard .tracker::after,
.miniboard .counter::after,
.restrackers .tracker::after,
.restrackers .counter::after {
  content: attr(data-state);
  position: relative;
  left: 12px;
  top: 9px;
}

.counter_setl {
  background-image: url(img/tokens.png);
  background-size: auto 453%;
  background-position: 86% 66%;
  height: 32px;
  aspect-ratio: 1/1;
}

.counter_roof {
  background-image: url(img/tokens.png);
  background-size: auto 453%;
  background-position: 76.5% 66%;
  height: 32px;
  aspect-ratio: 1/1;
}

.wooden {
  background-image: url(img/tokens.png);
  background-size: auto 453%;
}

.hearth {
  background-position: 47% 0%;
}

.furnish {
  background-position: 89% 97%;
  background-size: auto 453%;
}

.trade {
  background-position: 81% 97%;
  background-size: auto 453%;
}

.wooden.shell {
  background-position: 0% 34%;
}

.wooden.barley {
  background-position: 8% 34%;
  background-size: auto 488%;
}

.wooden.food {
  background-position: 16% 34%;
}

.wooden.hide {
  background-position: 24% 34%;
}

.wooden.seaweed {
  background-position: 31.5% 34%;
  background-size: auto 530%;
}

.wooden.skaill {
  background-position: 39% 38%;
  background-size: auto 530%;
}

.wooden.rabbit {
  background-position: 55% 33%;
  background-size: auto 479%;
}

.wooden.fish {
  background-position: 62% 34%;
  background-size: auto 488%;
}

.wooden.sheep {
  background-position: 10% 66%;
}

.wooden.wool {
  background-position: 48% 37%;
}

.wooden.deer {
  background-position: 20% 63%;
}

.wooden.boar {
  background-position: 30% 67%;
}

.wooden.stone {
  background-position: 80% 38%;
}

.wooden.cow {
  background-position: 40% 64%;
}

.wooden.wood {
  background-position: 50% 67%;
}

.wooden.bone {
  background-position: 71% 37%;
  background-size: auto 490%;
}

.wooden.midden {
  background-position: 0% 67%;
}

.worker {
  background-position: 19% 97%;
  background-size: auto 453%;
  width: 26px;
  height: 39px;
  aspect-ratio: 2/3;
}
.worker[data-state="0"] {
  opacity: 0;
}
.worker.color_ff0000 {
  background-position: 14% 97%;
}
.worker.color_000000 {
  background-position: 7% 97%;
}
.worker.color_ffffff {
  background-position: 0% 97%;
}
.worker.color_ffcc02 {
  background-position: 21% 97%;
}
.worker.color_6cd0f6 {
  background-position: 27% 97%;
}
.worker.color_982fff {
  background-position: 34% 97%;
}

.worker.large {
  width: 38px;
  height: 50px;
}

.tableau .wooden,
.tableau .slider {
  filter: drop-shadow(2px 2px 3px black);
}

.tracker.slider {
  background-image: url(img/SliderBGA.png);
  background-size: cover;
  aspect-ratio: 198/634;
}
.action-button .tracker.slider {
  margin-right: auto;
  margin-left: auto;
}

.pboard .tracker.slider {
  position: absolute;
  height: 32%;
  top: 51%;
}
.pboard .tracker.slider[data-state="0"] {
  left: 2%;
}
.pboard .tracker.slider[data-state="1"] {
  left: 10.7%;
}
.pboard .tracker.slider[data-state="2"] {
  left: 19.4%;
}
.pboard .tracker.slider[data-state="3"] {
  left: 28.1%;
}
.pboard .tracker.slider[data-state="4"] {
  left: 36.8%;
}
.pboard .tracker.slider[data-state="5"] {
  left: 45.5%;
}
.pboard .tracker.slider[data-state="6"] {
  left: 54.2%;
}
.pboard .tracker.slider[data-state="7"] {
  left: 62.9%;
}
.pboard .tracker.slider[data-state="8"] {
  left: 71.6%;
}
.pboard .tracker.slider[data-state="9"] {
  left: 80.3%;
}
.pboard .tracker.slider[data-state="10"] {
  left: 89%;
}

.solo_game .turndisk {
  display: none;
}

.turndisk {
  background-image: url(img/turnTokenS.png);
  background-size: cover;
  aspect-ratio: 109/104;
  height: 104px;
  position: relative;
}

.turnmarker {
  background-position-x: 100%;
  background-size: auto 453%;
  width: 30px;
  aspect-ratio: 1/1;
  position: absolute;
}
.supply .turnmarker {
  display: none;
}
.turnmarker.color_982fff {
  background-position-y: 5%;
}
.turnmarker.color_6cd0f6 {
  background-position-y: 38%;
}
.turnmarker.color_ffcc02 {
  background-position-y: 64%;
}
.turnmarker.color_ff0000 {
  background-position-y: 95%;
}
.turnmarker.color_000000 {
  background-position-y: 64%;
  filter: grayscale(1);
}
.turnmarker[data-state="0"] {
  left: 15%;
  bottom: 12%;
  z-index: 0;
}
.turnmarker[data-state="1"] {
  left: 15%;
  bottom: 20%;
  z-index: 1;
}
.turnmarker[data-state="2"] {
  left: 15%;
  bottom: 28%;
  z-index: 2;
}
.turnmarker[data-state="3"] {
  left: 15%;
  bottom: 36%;
  z-index: 3;
}
.turnmarker[data-state="10"] {
  left: 37%;
  bottom: 52%;
  z-index: 0;
}
.turnmarker[data-state="11"] {
  left: 37%;
  bottom: 60%;
  z-index: 1;
}
.turnmarker[data-state="12"] {
  left: 37%;
  bottom: 68%;
  z-index: 2;
}
.turnmarker[data-state="13"] {
  left: 37%;
  bottom: 76%;
  z-index: 3;
}
.turnmarker[data-state="20"] {
  right: 15%;
  bottom: 12%;
  z-index: 0;
}
.turnmarker[data-state="21"] {
  right: 15%;
  bottom: 20%;
  z-index: 1;
}
.turnmarker[data-state="22"] {
  right: 15%;
  bottom: 28%;
  z-index: 2;
}
.turnmarker[data-state="23"] {
  right: 15%;
  bottom: 36%;
  z-index: 3;
}

.turninfo {
  position: relative;
  height: 32px;
  aspect-ratio: unset;
  color: #999;
}
.turninfo:after {
  content: attr(data-state);
  position: relative;
}
.turninfo:before {
  content: attr(data-name);
  position: relative;
}
.turninfo[data-state="0"] {
  display: none;
}
.turninfo[data-state="5"] {
  display: none;
}

/* tooltips */
.midSizeDialog {
  max-width: 700px;
  min-width: 400px;
}

.tundra .dijitTooltipContainer,
.tooltipcontainer {
  background: white;
  color: black;
  border: unset;
  border-radius: unset;
  padding: unset;
  margin: 0;
}

.tundra .dijitTooltipContainer {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5019607843);
}

.tooltipcontainer {
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltipcontainer .tooltiptitle {
  position: relative;
  font-weight: bold;
  padding: 0.1em;
  font-size: x-large;
}
.tooltipcontainer .tooltip-body {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tooltipcontainer li {
  list-style: circle;
}
.tooltipcontainer .tooltiptext {
  max-width: 500px;
  top: unset;
}
.tooltipcontainer .tooltiptitle {
  font-family: "Caesar Dressing";
}

.tooltip-left {
  padding: 0.5em;
}

.tooltip-right {
  padding: 0.5em;
  padding-left: 0em;
}

/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * skarabrae implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * skarabrae.scss
 *
 */
/* 
latin
<link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'> 
*/
@font-face {
  font-family: "Caesar Dressing";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/caesardressing/v22/yYLx0hLa3vawqtwdswbotmK4vrRHdrz7.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@keyframes active-pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1.5);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1) !important;
  }
  50% {
    transform: scale(1.5) !important;
  }
  100% {
    transform: scale(1) !important;
  }
}
.flip {
  animation: flip 1000ms;
}

@keyframes flip {
  0% {
    transform: perspective(40em) rotateY(0deg);
  }
  50% {
    scale: 2;
  }
  100% {
    transform: perspective(40em) rotateY(-180deg);
  }
}
#gameaction_status_wrap {
  display: block !important;
}
#gameaction_status_wrap img {
  display: none;
}

.subtitle {
  font-size: x-small;
}

#page-title {
  min-height: 76px !important;
  line-height: 24px;
}

#pagemaintitle_wrap {
  min-height: 42px !important;
}

#oversurface {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: visible;
}

#oversurface > * {
  position: absolute;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  /* background-color: blue; */
  transform-origin: center center;
}

.phantom {
  animation: pulse 500ms ease-in-out;
}

#card_temp > * {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
}

.limbo {
  display: none;
}

#thething {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Caesar Dressing";
}

.bgabutton_orange {
  background-color: #b17300;
}

a.bgabutton_white {
  background-color: white;
  color: darkgrey;
}

.bgabutton_targetcolor {
  background-color: rgba(33, 150, 243, 0.7803921569);
}

.bgabutton_purple {
  background-color: rgb(43, 15, 76);
}

.bgabutton.disabled {
  pointer-events: unset;
}

.bgabutton.disabled:active {
  pointer-events: unset;
}

.gg_selected,
.gg_selected_alt {
  box-shadow: 0px 0px 5px 5px #3f51b5;
}

.active_slot {
  cursor: pointer;
  outline: 4px dashed #19bedb;
}
.active_slot.gg_selected, .active_slot.gg_selected_alt {
  outline: 4px dashed #3f51b5;
}

.gg_selected_alt.segment {
  margin-top: 0em !important;
}
.gg_selected_alt.target_container_card {
  margin-top: 0em !important;
}

.selection_area .disabled {
  filter: opacity(0.3);
}

.target_container {
  position: relative;
  border-radius: 5%;
  min-width: 64px;
  border: 1px solid white;
}
.target_container > * {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.target_container > *::after {
  content: attr(data-count);
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 25%;
  left: 0em;
  font-size: large;
  color: white;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.267), 1px 1px rgba(0, 0, 0, 0.267), -1px 1px rgba(0, 0, 0, 0.267), 1px -1px rgba(0, 0, 0, 0.267);
}
.target_container .tracker {
  color: white;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.267), 1px 1px rgba(0, 0, 0, 0.267), -1px 1px rgba(0, 0, 0, 0.267), 1px -1px rgba(0, 0, 0, 0.267);
  font-size: large;
}
html[data-theme=dark] .target_container .tracker {
  color: black;
  text-shadow: #fff -1px -1px, #fff 1px 1px, #fff -1px 1px, #fff 1px -1px;
}
.target_container .tracker:after {
  position: absolute;
  text-align: center;
  left: 0;
  top: 28%;
  width: 100%;
}
.target_container .tracker[data-sign="-"]::after {
  left: 5%;
}
.target_container.withcount {
  padding-left: 1.5em;
}

/*
.gg_selected_alt[data-count] {
  box-shadow:
    0 0 0 2px white,
    0.3em 0.3em 1em gray !important;
}
*/
.bgabutton.gg_selected, .bgabutton.gg_selected_alt {
  border: 1px solid blue;
}
.bgabutton[data-count]::after {
  content: " x " attr(data-count);
}

.action-button {
  min-width: 4em;
  line-height: 24px;
}

#undoredo_wrap {
  margin-left: 5px;
  margin-right: 5px;
  float: right;
}

#go_to_next_table_active_player,
#go_to_next_table_inactive_player {
  top: 0px;
}

.button_undo {
  min-width: 2em;
  background-image: none;
}

#overall-content {
  overflow: visible;
}

.player-board {
  background-color: #f8f8f8;
}

html {
  background: none;
  background-color: #dbe8ec;
}

html:before {
  background-image: url(img/bg11.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.7;
  position: fixed;
  z-index: -1;
}

@media screen and (orientation: portrait) {
  html:before {
    background-image: url(img/bgTall.jpg);
    background-position: 0% 100%;
  }
}
html.darkmode:before {
  background: url(img/stonex.jpg);
}

#round_banner {
  height: 24px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-family: "Caesar Dressing";
  font-size: large;
  color: #999;
  opacity: 0.8;
}

#round_banner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 25%;
  z-index: -1;
  background-image: url("img/topBanner.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.score-sheet {
  background-image: url(img/stonex.jpg);
  background-size: cover;
  font-family: "Caesar Dressing";
  font-size: large;
}
.score-sheet table,
.score-sheet td,
.score-sheet th {
  border: 1px solid darkgray;
  border-collapse: collapse;
  padding: 8px;
  color: white;
}
.score-sheet .bga-score-sheet_player-name {
  color: var(--player-color);
}
