$full-colors-list: (
  _ff0000: #ff0000,
  _008000: #008000,
  _0000ff: #0000ff,
  _ffa500: #ffa500,
  _e94190: #e94190,
  _982fff: #982fff,
  _72c3b1: #72c3b1,
  _f07f16: #f07f16,
  _bdd002: #bdd002,
  _7b7b7b: #7b7b7b,
  _000000: #000000,
  _ffffff: #ffffff,
  _6cd0f6: #6cd0f6,
  _ef58a2: #ef58a2,
  _ffcc02: #ffcc02,
  _a0d28c: #a0d28c
);
//  "player_colors" => ["ff0000", "ffcc02", "6cd0f6", "982fff"],
$colors-list: (
  _ff0000: #ff0000,
  _ffcc02: #ffcc02,
  _6cd0f6: #6cd0f6,
  _982fff: #982fff
);
$textShadowWhite:
  #fff -1px -1px,
  #fff 1px 1px,
  #fff -1px 1px,
  #fff 1px -1px;

$textShadowBlack:
  -1px -1px rgba(0, 0, 0, 0.267),
  1px 1px rgba(0, 0, 0, 0.267),
  -1px 1px rgba(0, 0, 0, 0.267),
  1px -1px rgba(0, 0, 0, 0.267);

$textShadowBlackStrong:
  #000 0px 0px 2px,
  #000 0px 0px 2px,
  #000 0px 0px 2px,
  #000 0px 0px 2px,
  #000 0px 0px 2px,
  #000 0px 0px 2px;

$textShadowRed: #f00 0px 0px 2px;
$boxShadowBlack: 1px 1px 1px 1px #00000080;
$boxShadowGreen: 1px 1px 1px 0px greenyellow;
$dropShadow2: drop-shadow(2px 2px 3px black);
$dropShadow3: drop-shadow(1px 1px 3px black);

$activeColor: #19bedb;
$activeShadowColor: greenyellow;
$selectionColor: #3f51b5;
$activeShadowFilter: drop-shadow(0px 0px 5px $activeShadowColor) drop-shadow(0px 0px 10px $activeShadowColor);
