.selection_area {
  position: sticky;
  top: 86px;
  align-self: flex-start;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;

  z-index: 20;
  & > * {
    position: relative;
    display: inline-block;
  }
}
// .selection_area {
//   background-color: white;
//   html[data-theme="dark"] & {
//     background-color: #4d4d4b;
//   }
// }
.tasks_area {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  & > * {
    position: relative;
    display: inline-block;
  }
}
#mainarea {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  z-index: 0;
  & > * {
    order: 10;
  }
  & > .turnover {
    order: 0;
  }
  & > .cardset_1 {
    order: 1;
  }
  & > .cardset_2 {
    order: 2;
  }
  & > .cardset_3 {
    order: 3;
  }
  & > .deck_village {
    order: 4;
  }
  & > .discard_village {
    order: 5;
  }
}

.cardset {
  position: relative;
  display: block;
  min-width: calc(2 * 125px);
  &:empty {
    min-width: unset;
  }
  padding-left: 20px;
  & > * {
    display: inline-block;
    position: relative;
    vertical-align: top;
  }
}
.cardset::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20px;
  content: attr(data-name);
  z-index: 20;
  color: #999;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

#supply {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  z-index: 0;
  & > * {
    order: 10;
  }

  & > .deck_village {
    order: 1;
  }
  & > .discard_village {
    order: 2;
  }
  & > .deck_roof {
    order: 4;
  }
  & > .deck_spin {
    order: 4;
  }
}
.tableau {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5px;
  padding-top: 32px; // player name

  $height: 400px;
  & > * {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  &::after {
    content: attr(data-player-name);
    position: absolute;
    width: 100%;
    height: 32px;
    top: 10px;
    left: 10px;
    color: var(--player-color);
  }
  .pboard {
    aspect-ratio: 332 / 273;
    background-image: url(img/pboard.jpg);
    background-size: cover;
    height: $height;
    .breakroom {
      position: absolute;
      width: 40%;
      height: 10%;

      top: 13%;
      left: 3%;
      & > * {
        display: inline-block;
      }
    }
  }
  .storage {
    position: absolute;
    width: 95%;
    height: 31%;
    bottom: 17%;
    left: 3%;
    display: grid;
    grid-auto-flow: column;
    /* Defines 10 columns, each with a fixed width of 100px. */
    grid-template-columns: repeat(11, 8.7%);
    /* Defines 3 rows, each with a fixed height of 50px. */
    grid-template-rows: repeat(3, 33%);
    /* Optional: Add a gap between grid items */
    gap: 2px;
  }

  @for $num from 1 through 9 {
    $pos: calc(30 + $num);
    .storage > *:nth-child(#{$pos}) {
      position: absolute;
      bottom: -17%;
      left: calc(($num - 1) * 4%);
    }
  }

  .village_area,
  .pboard_area {
    & > * {
      position: relative;
      display: block;
    }
  }
  .settlers_area {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    & > * {
      position: relative;
      display: inline-block;
      width: 20%;
      vertical-align: top;
      .card ~ .card {
        position: relative;
        margin-top: -130%;
      }
    }
  }

  .cards_area {
    position: relative;
    max-width: 486px;
    & > * {
      position: relative;
      display: inline-block;
    }
    .card ~ .card {
      margin-left: -20%;
    }
  }
  .action_area {
    aspect-ratio: 25 / 16;
    height: $height;
    $cols: 5;
    $rows: 2;

    .action {
      position: absolute;
      width: 20%;
      height: 50%;

      &.active_slot {
        z-index: 2;
      }
    }
    .action.special {
      right: 0;
      bottom: 0;
    }

    @for $num from 1 through 9 {
      $i: $num - 1;
      $col: $i % $cols;
      $row: calc(($i - $col) / $cols);

      .action_main_#{$num} {
        left: calc($col * 100% / ($cols));
        top: calc($row * 100% / ($rows));
      }
    }
  }
}

.track_furnish {
  position: absolute;
  left: 5%;
  top: 26%;
  width: 44%;
  height: 20%;
}
.track_furnish .slot_furnish {
  display: inline-block;
  width: 10%;
  aspect-ratio: 1/1;
  margin-left: 3.4%;
  top: 6%;
  position: relative;
}

.track_trade {
  position: absolute;
  left: 50%;
  top: 26%;
  width: 50%;
  height: 20%;
}

.slot_trade {
  display: inline-block;
  width: 8%;
  aspect-ratio: 1/1;
  margin-left: 4.1%;
  top: 13%;
  position: relative;
}

.players_panels {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
}
