.tableau {
  position: relative;
  $height: 400px;
  & > * {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .pboard {
    aspect-ratio: 332 / 273;
    background-image: url(img/pboard.jpg);
    background-size: cover;
    height: $height;
    .breakroom {
      position: absolute;
      width: 25%;
      height: 10%;

      top: 15%;
      & > * {
        display: inline-block;
      }
    }
  }
  .storage {
    position: absolute;
    width: 95%;
    height: 31%;
    bottom: 17%;
    left: 3%;
    display: grid;
    grid-auto-flow: column;
    /* Defines 10 columns, each with a fixed width of 100px. */
    grid-template-columns: repeat(11, 9%);
    /* Defines 3 rows, each with a fixed height of 50px. */
    grid-template-rows: repeat(3, 33%);
    /* Optional: Add a gap between grid items */
    gap: 2px;
  }
  .village_area,
  .pboard_area {
    & > * {
      position: relative;
      display: block;
    }
  }
  .settlers_area {
    & > * {
      position: relative;
      display: inline-block;
      width: 20%;
    }
  }
  .cards_area {
    & > * {
      position: relative;
      display: inline-block;
    }
  }
  .action_area {
    aspect-ratio: 25 / 16;
    height: $height;
    $cols: 5;
    $rows: 2;

    .action {
      position: absolute;
      width: 20%;
      height: 50%;

      &.active_slot {
        z-index: 2;
      }
    }
    .action.special {
      right: 0;
      bottom: 0;
    }

    @for $num from 1 through 9 {
      $i: $num - 1;
      $col: $i % $cols;
      $row: calc(($i - $col) / $cols);

      .action_main_#{$num} {
        left: calc($col * 100% / ($cols));
        top: calc($row * 100% / ($rows));
      }
    }
  }
}

.discard_village > .card {
  display: none;
}

.track_furnish {
  position: absolute;
  left: 5%;
  top: 26%;
  width: 44%;
  height: 20%;
}
.track_furnish .slot_furnish {
  display: inline-block;
  width: 10%;
  aspect-ratio: 1/1;
  margin-left: 3.4%;
  top: 6%;
  position: relative;
}

.track_trade {
  position: absolute;
  left: 50%;
  top: 26%;
  width: 50%;
  height: 20%;
}

.slot_trade {
  display: inline-block;
  width: 8%;
  aspect-ratio: 1/1;
  margin-left: 4.1%;
  top: 13%;
  position: relative;
}
