@use "variables" as v;

.card,
.action,
.deck,
.discard {
  height: 200px;
  aspect-ratio: 640 / 1000;
  box-shadow: v.$boxShadowBlack;
  border-radius: 5%;
}
.action {
  border-radius: 0;
}

.action.main {
  background-image: url(img/action_Purple_front.jpg);
  &[data-state="1"] {
    background-image: url(img/action_Purple_back.jpg);
  }
  $cols: 5;
  $rows: 2;

  background-size: calc($cols * 100%) auto;

  @for $num from 1 through 9 {
    $i: $num - 1;
    $col: $i % $cols;
    $row: calc(($i - $col) / $cols);

    &.action_main_#{$num} {
      background-position: calc($col * 100% / ($cols - 1)) calc($row * 100% / ($rows - 1));
    }
  }
}
.action.special {
  background-image: url(img/action_Neutral_front.jpg);
  &[data-state="1"] {
    background-image: url(img/action_Neutral_back.jpg);
  }
  $cols: 8;
  $rows: 1;

  background-size: calc($cols * 100%) auto;

  @for $num from 1 through 8 {
    $i: $num - 1;
    $col: $i % $cols;
    $row: calc(($i - $col) / $cols);

    &.action_special_#{$num} {
      background-position: calc($col * 100% / ($cols - 1)) 0;
    }
  }
}

.card.task {
  background-image: url(img/solo_cards.jpg);
  $cols: 10;
  $rows: 2;

  background-size: calc($cols * 100%) auto;

  @for $num from 1 through $cols {
    $i: $num - 1;
    $col: $i % $cols;
    $row: calc(($i - $col) / $cols);

    &.card_task_#{$num} {
      background-position: calc($col * 100% / ($cols - 1)) 100%;
    }
  }
  &[data-state="1"] {
    background-position: 100% 0% !important;
  }
}
.card.goal {
  background-image: url(img/solo_cards.jpg);
  $cols: 10;
  $rows: 2;

  background-size: calc($cols * 100%) auto;

  @for $num from 1 through $cols {
    $i: $num - 1;
    $col: $i % $cols;
    $row: calc(($i - $col) / $cols);

    &.card_goal_#{$num} {
      background-position: calc($col * 100% / ($cols - 1)) 0%;
    }
  }
}
.card.setl {
  background-image: url(img/set_cards.jpg);

  $cols: 15;
  $rows: 4;

  background-size: calc($cols * 100%) auto;

  @for $num from 1 through 60 {
    $i: $num - 1;
    $col: $i % $cols;
    $row: calc(($i - $col) / $cols);
    $t: $row + 1;

    &.card_setl_#{$t}_#{$num} {
      background-position: calc($col * 100% / ($cols - 1)) calc($row * 100% / ($rows - 1));
    }
  }
}
.deck.village,
.deck_village,
.discard.village {
  background-image: url(img/nset_cards.jpg);
  background-position: calc(5 * 100% / 7) 0;
  background-size: 800% auto;
}

.card.roof {
  background-image: url(img/nset_cards.jpg);
  background-position: calc(3 * 100% / 7) 0;
  background-size: 800% auto;
}

.card.roofi,
.deck.roof,
.deck_roof {
  background-image: url(img/nset_cards.jpg);
  background-position: calc(2 * 100% / 7) 0;
  background-size: 800% auto;
}
.card.spin,
.deck.spin {
  background-image: url(img/nset_cards.jpg);
  background-position: calc(6 * 100% / 7) 0;
  background-size: 800% auto;
}
.card.util {
  background-image: url(img/nset_cards.jpg);
  background-size: 800% auto;
}

.card.ball {
  background-image: url(img/nset_cards.jpg);
  background-size: 800% auto;
  background-position: calc(4 * 100% / 7) 0;
}

.deck > * {
  display: none;
}
.discard > * {
  display: block;
  position: absolute;
}
.cardset .card[data-state="1"] {
  background-image: url(img/nset_cards.jpg);
  background-position: calc(5 * 100% / 7) 0 !important;
  background-size: 800% auto;
}
