/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * skarabrae implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * skarabrae.scss
 *
 */

@use "variables" as v;

@use "Cards";
@use "Boards";
@use "Tokens";
@use "Tooltip";

/* 
latin
<link href='https://fonts.googleapis.com/css?family=Caesar Dressing' rel='stylesheet'> 
*/
@font-face {
  font-family: "Caesar Dressing";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/caesardressing/v22/yYLx0hLa3vawqtwdswbotmK4vrRHdrz7.woff2) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@keyframes active-pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1.5);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1) !important;
  }
  50% {
    transform: scale(1.5) !important;
  }
  100% {
    transform: scale(1) !important;
  }
}

.flip {
  animation: flip 1000ms;
}

@keyframes flip {
  0% {
    transform: perspective(40em) rotateY(0deg);
  }
  50% {
    scale: 2;
  }
  100% {
    transform: perspective(40em) rotateY(-180deg);
  }
}

:root {
  --accent-game-font: Roboto, Arial, sans-serif;
}

.pref_font_game:root {
  --accent-game-font: "Caesar Dressing";
}

#gameaction_status_wrap {
  display: block !important; // prevent flickering of top bar

  img {
    display: none;
  }
}
.subtitle {
  font-size: x-small;
}
#page-title {
  min-height: 76px !important;
  line-height: 24px;
}
#pagemaintitle_wrap {
  min-height: 42px !important;
}

#oversurface {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: visible;
}

#oversurface > * {
  position: absolute;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  /* background-color: blue; */
  transform-origin: center center;
}

.phantom {
  animation: pulse 500ms ease-in-out;
}
#card_temp {
  & > * {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
  }
}
.limbo {
  display: none;
}

#thething {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: var(--accent-game-font);
}
// BUTTONS

.bgabutton_orange {
  background-color: #b17300;
}
a.bgabutton_white {
  background-color: white;
  color: darkgrey;
}

.bgabutton_targetcolor {
  background-color: #2196f3c7;
}

.bgabutton_purple {
  background-color: rgb(43, 15, 76);
}

.bgabutton.disabled {
  pointer-events: unset; // undo bga default
}

// .bgabutton.disabled:hover {
//   background-color: red;
// }

.bgabutton.disabled:active {
  pointer-events: unset; // none - prevent default click, but not hover
}

.gg_selected,
.gg_selected_alt {
  box-shadow: 0px 0px 5px 5px v.$selectionColor;
}

.active_slot {
  cursor: pointer;
  //box-shadow: 0px 0px 4px 2px v.$activeColor !important;

  outline: 4px dashed v.$activeColor;
  outline-offset: -5px;

  &.gg_selected,
  &.gg_selected_alt {
    outline: 4px dashed v.$selectionColor;
  }
}

.gg_selected_alt {
  &.segment {
    margin-top: 0em !important;
  }
  &.target_container_card {
    margin-top: 0em !important;
  }
}

.selection_area .disabled {
  filter: opacity(0.3);
}

.target_container {
  position: relative;
  border-radius: 5%;
  min-width: 64px;
  border: 1px solid white;

  & > * {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &::after {
      content: attr(data-count);
      z-index: 10;
      position: absolute;
      width: 100%;
      top: 25%;
      left: 0em;
      font-size: large;
      color: white;
      text-shadow: v.$textShadowBlack;
    }
  }

  .tracker {
    color: white;
    text-shadow: v.$textShadowBlack;
    font-size: large;

    html[data-theme="dark"] & {
      color: black;
      text-shadow: v.$textShadowWhite;
    }

    &:after {
      position: absolute;
      text-align: center;
      left: 0;
      top: 28%;
      width: 100%;
    }

    &[data-sign="-"]::after {
      left: 5%;
    }
  }

  &.withcount {
    padding-left: 1.5em;
  }
}
/*
.gg_selected_alt[data-count] {
  box-shadow:
    0 0 0 2px white,
    0.3em 0.3em 1em gray !important;
}
*/
.bgabutton {
  &.gg_selected,
  &.gg_selected_alt {
    border: 1px solid blue;
  }
  &[data-count]::after {
    content: " x " attr(data-count);
  }
}
//#page-title
.action-button {
  min-width: 4em;
  line-height: 24px;
}

#undoredo_wrap {
  margin-left: 5px;
  margin-right: 5px;
  float: right;
}
// unset top otherwise its misaligned
#go_to_next_table_active_player,
#go_to_next_table_inactive_player {
  top: 0px;
}

.button_undo {
  min-width: 2em;
  background-image: none;
  // &::before {
  //   content: "\f049"; //' "\f0e2";
  //   font-size: large;
  //   font-family: FontAwesome;
  // }
}

#overall-content {
  overflow: visible; // when hidden it prevents sticky position to work
}

.player-board {
  background-color: #f8f8f8;
}

// #game_play_area_background {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   display: block !important;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   background-image: url(img/bg11.jpg);
//   background-size: auto 100%;
// }

html {
  background: none;
  background-color: #dbe8ec;
}
html:before {
  background-image: url(img/bg11.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  opacity: 0.7;
  position: fixed;

  z-index: -1;
}

@media screen and (orientation: portrait) {
  html:before {
    background-image: url(img/bgTall.jpg);

    background-position: 0% 100%;
  }
}
html.darkmode:before {
  background: url(img/stonex.jpg);
}

#round_banner {
  height: 24px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-family: var(--accent-game-font);
  font-size: large;
  color: #999;
  opacity: 0.8;
}
#round_banner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 25%;
  z-index: -1;
  //height: 60px;
  //background-color: rgb(140, 89, 53);
  background-image: url("img/topBanner.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#round_banner .last_banner {
  //font-weight: bold;
  // color: red;
  // text-shadow: v.$textShadowWhite;
  color: white;
  text-shadow: v.$textShadowRed;
}

.score-sheet {
  background-image: url(img/stonex.jpg);
  background-size: cover;

  font-size: large;
  z-index: 5;
  font-family: var(--accent-game-font);
  table,
  td,
  th {
    border: 1px solid darkgray;
    border-collapse: collapse;
    padding: 8px;
    color: white;
  }
  .bga-score-sheet_player-name {
    color: var(--player-color);
  }
}
