/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * skarabrae implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * skarabrae.scss
 *
 */

@use "variables" as v;
@use "Cards";
@use "Boards";
@use "Tokens";
@use "Tooltip";

@keyframes active-pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1.5);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1) !important;
  }
  50% {
    transform: scale(1.5) !important;
  }
  100% {
    transform: scale(1) !important;
  }
}

#gameaction_status_wrap {
  display: block !important;

  img {
    display: none;
  }
}
.subtitle {
  font-size: x-small;
}
#page-title {
  min-height: 76px !important;
  line-height: 24px;
}
#pagemaintitle_wrap {
  min-height: 42px !important;
}

#oversurface {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: visible;
}

#oversurface > * {
  position: absolute;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  /* background-color: blue; */
  transform-origin: center center;
}

.phantom {
  animation: pulse 500ms ease-in-out;
}

.limbo {
  display: none;
}

#thething {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
// BUTTONS

.bgabutton_orange {
  background-color: #b17300;
}
a.bgabutton_white {
  background-color: white;
  color: darkgrey;
}

.bgabutton_targetcolor {
  background-color: #2196f3c7;
}

.bgabutton_purple {
  background-color: rgb(43, 15, 76);
}

.bgabutton.disabled {
  pointer-events: unset; // undo bga default
}

// .bgabutton.disabled:hover {
//   background-color: red;
// }

.bgabutton.disabled:active {
  pointer-events: unset; // none - prevent default click, but not hover
}

.active_slot {
  cursor: pointer;
  //box-shadow: 0px 0px 4px 2px v.$activeColor !important;

  outline: 4px dashed v.$activeColor;
}

.gg_selected,
.gg_selected_alt {
  box-shadow: 0px 0px 5px 5px v.$selectionColor !important;
}

.gg_selected_alt {
  &.segment {
    margin-top: 0em !important;
  }
  &.target_container_card {
    margin-top: 0em !important;
  }
}
/*
.gg_selected_alt[data-count] {
  box-shadow:
    0 0 0 2px white,
    0.3em 0.3em 1em gray !important;
}
*/
.bgabutton {
  &.gg_selected,
  &.gg_selected_alt {
    border: 1px solid blue;
  }
  &[data-count]::after {
    content: " x " attr(data-count);
  }
}
#page-title .action-button {
  min-width: 4em;
  line-height: 24px;
}

#undoredo_wrap {
  margin-left: 5px;
  margin-right: 5px;
  float: right;
}
// unset top otherwise its misaligned
#go_to_next_table_active_player,
#go_to_next_table_inactive_player {
  top: 0px;
}

.button_undo {
  min-width: 2em;
  background-image: none;
  // &::before {
  //   content: "\f049"; //' "\f0e2";
  //   font-size: large;
  //   font-family: FontAwesome;
  // }
}

#overall-content {
  overflow: visible; // when hidden it prevents sticky position to work
}

html {
  background: url(img/stonex.jpg);
}

.player-board {
  background-color: #f8f8f8;
}
html[data-theme="dark"],
html[data-theme="dark"] body {
  background-image: url(img/stonex.jpg) !important;
}
//[data-theme="light"] #game_play_area_background {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   display: block;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   background-color: white;
//   /* border: 30px solid transparent; */
//   /* Shorthand property: source | slice | width | outset | repeat */
//   border-image-source: url(img/bg10.jpg);
//   border-image-slice: 100 fill;
//   border-image-width: 100px;
//   border-image-outset: 0;
//   border-image-repeat: stretch;
// }
[data-theme="light"] #game_play_area_background {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(img/bg11.jpg);
  background-size: auto 100%;
}
