@use "variables" as v;

.tracker {
  height: 32px;
  aspect-ratio: 1/1;

  .log &,
  #page-title & {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    line-height: 24px;
  }
}

.miniboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .tracker {
    margin-left: 14px;
    &::after {
      content: attr(data-state);
      position: relative;
      left: -10px;
      top: 5px;
    }
  }
}

.wooden {
  background-image: url(img/tokens.png);
  background-size: auto 453%;
}

.hearth {
  background-position: 47% 0%;
}

.furnish {
  background-position: 89% 97%;
  background-size: auto 453%;
}
.trade {
  background-position: 81% 97%;
  background-size: auto 453%;
}
.wooden.shell {
  background-position: 0% 34%;
}
.wooden.barley {
  background-position: 8% 34%;
  background-size: auto 488%;
}
.wooden.food {
  background-position: 16% 34%;
}
.wooden.hide {
  background-position: 24% 34%;
}
.wooden.seaweed {
  background-position: 31.5% 34%;
  background-size: auto 530%;
}
.wooden.skaill {
  background-position: 39% 38%;
  background-size: auto 530%;
}
.wooden.rabbit {
  background-position: 55% 33%;
  background-size: auto 479%;
}
.wooden.fish {
  background-position: 62% 34%;
  background-size: auto 488%;
}
.wooden.sheep {
  background-position: 10% 66%;
}
.wooden.wool {
  background-position: 48% 37%;
}
.wooden.deer {
  background-position: 20% 63%;
}
.wooden.stone {
  background-position: 80% 38%;
}
.wooden.cow {
  background-position: 40% 64%;
}
.wooden.wood {
  background-position: 50% 67%;
}
.wooden.bone {
  background-position: 71% 37%;
  background-size: auto 490%;
}
.wooden.midden {
  background-position: 0% 64%;
}
.worker {
  background-position: 19% 97%;
  background-size: auto 453%;
  width: 26px;
  aspect-ratio: 2 / 3;
  &[data-state="0"] {
    opacity: 0.5;
  }

  &.color_ff0000 {
    background-position: 14% 97%;
  }
  &.color_000000 {
    background-position: 7% 97%;
  }
  &.color_ffffff {
    background-position: 0% 97%;
  }
  &.color_ffcc02 {
    background-position: 21% 97%;
  }
  &.color_6cd0f6 {
    background-position: 27% 97%;
  }
  &.color_982fff {
    background-position: 34% 97%;
  }
}
.worker.large {
  width: 30px;
}
