/* tooltips */
.midSizeDialog {
  max-width: 700px;
  min-width: 400px;
}

.tundra .dijitTooltipContainer,
.tooltipcontainer {
  background: white;
  color: black;
  border: unset;
  border-radius: unset;
  padding: unset;
  margin: 0;
}

.tundra .dijitTooltipContainer {
  box-shadow: 1px 1px 2px 2px #00000080;
}

.tooltipcontainer {
  //background-image: url(img/stonex.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .tooltiptitle {
    position: relative;
    font-weight: bold;
    padding: 0.1em;
    font-size: x-large;
  }

  .tooltip-body {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  li {
    list-style: circle;
  }

  .tooltiptext {
    max-width: 500px;
    top: unset;
  }
  .tooltiptitle {
    font-family: var(--accent-game-font);
  }
}

.tooltip-left {
  padding: 0.5em;

  .tooltipimage.action,
  .tooltipimage.card {
    height: 300px;
  }
}

.tooltip-right {
  padding: 0.5em;
  padding-left: 0em;

  .tooltipimage.action {
    height: 200px;
    margin-top: 0.5em;
  }
}
